.navbar{
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(214, 214, 214, 0.658);
}

.logo__container{
    display: flex;
    height: 80%;
    width: 80px;
}

.logo{
    display: flex;
}